@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    color: white;
    background-color: rgb(32, 32, 32);
    font-family: "Roboto Mono", monospace;
    font-size: 100%;
    z-index: -1;
  }
.about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    background-color: rgb(32, 32, 32);
}

.about-us img {
    max-width: 100%;
}

.about_us_logo {
    padding: 1% 5%;
    max-width: 20vw;
}

.about_us_content {
    padding-left: 10%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.top_container {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(84, 84, 84);
    padding-left: 1vmax;
}

/* .profile_card {
    align-items: flex-start;
} */

.role {
    display: flex;
    flex-direction: column;
    flex: 1 0 1;
}

.profile_leader {
    background-color: rgb(46, 44, 47);
    padding: 2.5% 2.5% 5% 5%;
    justify-content: center;
}

.leader_content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding-right: 10%;
    margin-bottom: 5%;
}

.leader_title {
    padding: 0% 10% 0%;
    justify-content: center;
    font-size: 200%;
    font-weight: bolder;
}

.profile_leader_image {
    object-fit: contain;
}

.round_image {
    border-radius: 50%;
    background-color: white;
    min-height: 20vw;
    min-width: 30vw;
    max-height: 30vw;
    max-width: 30vw;
    margin-right: 5%;
    object-fit: cover;
    z-index: 1;
    flex-wrap: wrap;
}

.round_image_outer {
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    min-height: 20vw;
    min-width: 30vw;
    max-height: 30vw;
    max-width: 30vw;
    padding: 2%;
    z-index: 0;
}

.round_image_outer:before, .round_image_outer:after {
    border-radius: 50%;
    z-index: -1;
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    background: linear-gradient(45deg, #fc0090, #0000ff,#00ff00,
                #ff0000,#ffff00,#fc0090,#0000ff,#00ff00,#ffff00);
    background-size: 150%;
    animation: shadow 20s linear infinite;
}
.round_image_outer:after {
    filter: blur(15px);
}

.profile_card img {
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    position: relative;
}
  
.content {
    justify-content: center;
    position: absolute;
    overflow-wrap: break-word;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap ; */
    text-align: center;
    flex: 1 1 0;
    font-size: 100%;
    opacity: 0%;
    min-width: 22.5%;
    place-items: center;
  }

@media screen and (max-width: 768px) {
    .profile_container {
        background-color: rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: -2;
    }
    .profile_card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;;
        justify-content: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        margin: 1% 2.5% 2% 2.5%;
        padding: 4%;
        flex: 1 1 0;
        min-height: 75vw;
        object-fit: cover;
        border-radius: 5%;
    }
}

@media screen and (min-width: 769px) {
    .profile_container {
        background-color: rgb(32, 32, 32);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .profile_card {
        align-items: flex-start;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 255, 255);
        margin: 2.5% 0.5% 2.5% 0.5%;
        padding: 1%;
        flex: 1 1 0;
        width: 0;
    }
}

.profile_card:hover span:nth-child(1) { 
    filter: blur(7px);
}

.profile_card:hover span:nth-child(2) { 
    filter: blur(14px);
}

.profile_card img {
    border-radius: 5%;
    object-fit: cover;
}

.profile_card:hover {
    border-radius: 5%;
    animation: rotate 1.5s linear infinite;
    z-index: 0;
    img {
        opacity: 80%;
        border-radius: 5%;
        object-fit: cover;
    }
    .content {
        justify-content: center;
        position: absolute;
        overflow-wrap: break-word;
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap ; */
        text-align: center;
        flex: 1 1 0;
        font-size: 100%;
        opacity: 100%;
        min-width: 22.5%;
    }
}

.profile_card:before, .profile_card:after {
    border-radius: 5%;
    z-index: -1;
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    background: linear-gradient(45deg, #fc0090, #0000ff,#00ff00,
                #ff0000,#ffff00,#fc0090,#0000ff,#00ff00,#ffff00);
    background-size: 150%;
    animation: shadow 20s linear infinite;
}

.profile_card:after {
    filter: blur(15px);
}


@keyframes rotate { 
    0% {
        filter: hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes shadow { 
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 300%;
    }
    100% {
      background-position: 0 0;
    }
  }