@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    color: white;
    background-color: rgb(32, 32, 32);
    font-family: "Roboto Mono", monospace;
    font-size: 100%;
  }
.about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    background-color: rgb(32, 32, 32);
}

.about-us img {
    max-width: 20%;
}
.top_container {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(84, 84, 84);
    padding-left: 1vmax;
}

/* .profile_card {
    align-items: flex-start;
} */

.role {
    display: flex;
    flex-direction: column;
    flex: 1 0 1;
}

.profile_leader {
    background-color: rgb(46, 44, 47);
    padding: 2.5% 2.5% 10% 5%;
    justify-content: center;
}

.leader_content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding-right: 10%;
}

.leader_title {
    padding: 0% 40% 5%;
    justify-content: center;
    font-size: 350%;
}

.round_image {
    border-radius: 50%;
    background-color: white;
    min-height: 40vw;
    min-width: 40vw;
    max-height: 40vw;
    max-width: 20vw;
    margin-right: 5%;
    object-fit: cover;
}

.profile_card img {
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    position: relative;
}
  
.content {
    justify-content: center;
    position: absolute;
    text-align: center;
    flex: 1 1 0;
    font-size: 100%;
    opacity: 0%;
  }

@media screen and (max-width: 768px) {
    .profile_container {
        background-color: rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .profile_card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        margin: 1% 2.5% 2% 2.5%;
        padding: 4%;
        flex: 1 1 0;
        min-height: 75vw;
    }
}

@media screen and (min-width: 769px) {
    .profile_container {
        background-color: rgb(32, 32, 32);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .profile_card {
        align-items: flex-start;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        color: rgb(255, 255, 255);
        margin: 2.5% 0.5% 2.5% 0.5%;
        padding: 1%;
        flex: 1 1 0;
        width: 0;
    }
}

.profile_card:hover {
    img {
        opacity: 20%;
    }
    background-color: rgb(27, 27, 27);
    .content {
        padding: 8% 5%;
        /* justify-content: center; */
        position: absolute;
        /* text-align: center; */
        flex: 1 1 0;
        font-size: 100%;
        opacity: 100%;
    }
}